.header {
 background: var(--blue);
 color: white;
 padding: 2rem;
 margin-bottom: 2rem;
}


.header-content {
 max-width: 1200px;
 margin: 0 auto;
 text-align: center;
}


.header h1 {
 color: white;
 font-size: 3rem;
 margin-bottom: 0.5rem;
}


.header h2 {
 color: var(--header2);
 font-size: 1.5rem;
 margin-top: 0;
}